html, body{
	background-color: black;
	margin: 0;
	font-family: 'Courier New';
}



h1 {
	color: white;
	text-transform: uppercase;
	font-size: 180px;
	text-align: center;
} 

h2 {
	color: white;
	text-transform: uppercase;
	font-size: 100px;
	text-align: center;
}

p {
	color: white;
	text-align: center;
	font-size:20px;
	padding-left: 25%;
	width: 50%;
}

.mainpage {
	background: url(http://67.media.tumblr.com/c9efd5e7d8cdd77bb271ce40efee41bd/tumblr_oed8l2Sz331qfcgcpo1_1280.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	height: 600px;
	bottom: 120px;

}
.second{
	position: relative;
	text-align: center;
	top: 60px;
	height: 500px;
}

.third{
	background: url(http://67.media.tumblr.com/c9efd5e7d8cdd77bb271ce40efee41bd/tumblr_oed8l2Sz331qfcgcpo1_1280.jpg) no-repeat center center;
	background-size:cover;
	height: 700px;
	top: 30px;
	position: relative;
	text-align: center;

}

.col {
	font-size: 25px;
	float: left;
	padding: 83px;
	width: 20%;
	color: white;
	padding-top: 10px;
}
.col h2 {
	color: white;
	font-size: 40px;
}

.fourth{
	position: relative;
	text-align: center;
	top: 60px;
	height: 500px;
}

.btn:hover {
	background: #92a787;
	color: white;
} 


.centerize {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.btn {
	-webkit-transition-duration: .4s; 
    transition-duration: .4s;
	background-color: white;
	font-size: 30px;
	padding: 18px 20px;
	display: inline-block; 
	text-decoration: none;
	color: #92a787;
	border-radius: 4px;
	cursor: pointer;
	border: #92a787;
}

.footer {
	position:relative;
	background-color: #c8c8c8;
	bottom: -10px;
	right: 0;
	text-align: center;
	height: 26px;
}
